.container {
  width: 45%;
  height: 650px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding-top: 30px;
  box-shadow: 0px 0px 30px rgb(124, 124, 124);
  /* overflow: hidden; */
}

.list {
  list-style-type: none;
}

h1,
p {
  margin: 0;
}

.btnContainer {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.btn {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  width: 150px;
}

.foodImg {
  border-radius: 30px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    min-width: 300px;
  }
}
